*{
    margin: 0%;
    padding: 0%;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url("./OIP.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    text-transform: uppercase;
}

.countertimer{
    display: flex;
}
.countertimer>p{
    padding: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.countertimer>p>span{
    display: block;
    font-size: 4rem;
}